#!/usr/bin/env python
PACKAGE = "lidar_filtering"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# =========================== 标定参数 (Calibration) ===========================
gen.add("main_x", double_t, 0, "main_x", 0, -5.0, 5.0)
gen.add("main_y", double_t, 0, "main_y", 0, -5.0, 5.0)
gen.add("main_z", double_t, 0, "main_z", 0, -5.0, 5.0)
gen.add("main_yaw", double_t, 0, "mainyaw", 0, -5.0, 5.0)
gen.add("main_pitch", double_t, 0, "main_pitch", 0, -5.0, 5.0)
gen.add("main_roll", double_t, 0, "main_roll", 0, -5.0, 5.0)

gen.add("left_x", double_t, 0, "left_x", 0, -5.0, 5.0)
gen.add("left_y", double_t, 0, "left_y", 0, -5.0, 5.0)
gen.add("left_z", double_t, 0, "left_z", 0, -5.0, 5.0)
gen.add("left_yaw", double_t, 0, "left_yaw", 0, -5.0, 5.0)
gen.add("left_pitch", double_t, 0, "left_pitch", 0, -5.0, 5.0)
gen.add("left_roll", double_t, 0, "left_roll", 0, -5.0, 5.0)

gen.add("right_x", double_t, 0, "right_x", 0, -5.0, 5.0)
gen.add("right_y", double_t, 0, "right_y", 0, -5.0, 5.0)
gen.add("right_z", double_t, 0, "right_z", 0, -5.0, 5.0)
gen.add("right_yaw", double_t, 0, "right_yaw", 0, -5.0, 5.0)
gen.add("right_pitch", double_t, 0, "right_pitch", 0, -5.0, 5.0)
gen.add("right_roll", double_t, 0, "right_roll", 0, -5.0, 5.0)

gen.add("top_x", double_t, 0, "top_x", 0, -5.0, 5.0)
gen.add("top_y", double_t, 0, "top_y", 0, -5.0, 5.0)
gen.add("top_z", double_t, 0, "top_z", 0, -5.0, 5.0)
gen.add("top_yaw", double_t, 0, "top_yaw", 0, -5.0, 5.0)
gen.add("top_pitch", double_t, 0, "top_pitch", 0, -5.0, 5.0)
gen.add("top_roll", double_t, 0, "top_roll", 0, -5.0, 5.0)

# =========================== 过滤参数 (Filters) ===========================
gen.add("main_filter_enable", int_t, 0, "main_filter_enable", 0, 0, 1)
gen.add("main_min_angle", double_t, 0, "main_min_angle", 0.0, 0.0, 360.0)
gen.add("main_max_angle", double_t, 0, "main_max_angle", 0.0, 0.0, 360.0)

gen.add("left_filter_enable", int_t, 0, "left_filter_enable", 1, 0, 1)
gen.add("left_min_angle", double_t, 0, "left_min_angle", 210.0, 0.0, 360.0)
gen.add("left_max_angle", double_t, 0, "left_max_angle", 70.0, 0.0, 360.0)
gen.add("left_max_dis", double_t, 0, "left_max_dis", 1.5, 0.0, 100.0)

gen.add("right_filter_enable", int_t, 0, "right_filter_enable", 1, 0, 1)
gen.add("right_min_angle", double_t, 0, "right_min_angle", 270.0, 0.0, 360.0)
gen.add("right_max_angle", double_t, 0, "right_max_angle", 150.0, 0.0, 360.0)
gen.add("right_max_dis", double_t, 0, "right_max_dis", 1.5, 0.0, 100.0)

gen.add("top_filter_enable", int_t, 0, "top_filter_enable", 1, 0, 1)
gen.add("top_min_angle", double_t, 0, "top_min_angle", 0.0, 0.0, 360.0)
gen.add("top_max_angle", double_t, 0, "top_max_angle", 0.0, 0.0, 360.0)

gen.add("type", int_t, 0, "type", 2, 0, 10)

# =========================== 速度动态限制参数 ===========================
gen.add("maxSpeed", double_t, 0, "maxSpeed", 1.2, 0.0, 20.0)
gen.add("maxLimitDis_speed", double_t, 0, "maxLimitDis_speed", 0.5, 0.0, 10.0)

gen.add("leftLimit_min_angle", double_t, 0, "leftLimit_min_angle", 190.0, 0.0, 360.0)
gen.add("leftLimit_max_angle", double_t, 0, "leftLimit_max_angle", 90.0, 0.0, 360.0)

gen.add("rightLimit_min_angle", double_t, 0, "rightLimit_min_angle", 250.0, 0.0, 360.0)
gen.add("rightLimit_max_angle", double_t, 0, "rightLimit_max_angle", 170.0, 0.0, 360.0)

# =========================== 双雷达一致性校验 ===========================
gen.add("consistency_enable", bool_t, 0, "Enable consistency check", False)
# 车体坐标系下的校验范围（-10到+10度是车头重叠区）
gen.add("consistency_min_angle", double_t, 0, "Min angle (deg) in vehicle frame", -20.0, -180.0, 180.0)
gen.add("consistency_max_angle", double_t, 0, "Max angle (deg) in vehicle frame", 20.0, -180.0, 180.0)
gen.add("consistency_diff_dist", double_t, 0, "Max distance diff (m)", 0.3, 0.0, 5.0)

# crop_radius: 8.0  #最大过滤范围（雷达坐标系下）
gen.add("crop_radius", double_t, 0, "crop_radius", 8.0, 0.0, 10.0)
# voxel_filter: 0.1    #体素滤波下采样精度
gen.add("voxel_filter",double_t, 0, "voxel_filter", 0.1, 0.0, 10.0)

exit(gen.generate(PACKAGE, "lidar_filtering", "LidarFiltering"))