<launch>
    <!-- 基础参数 -->
    <arg name="parent_frame" default="velodyne" />
    <arg name="debug_mode" default="true" /> 

    <!-- 绝对路径传参 -->
    <arg name="vehicle_size_file" default="$(env HOME)/lidar_filtering/src/lidar_filtering/params/vehicle_size.yaml" />
    <arg name="calibration_file" default="$(env HOME)/lidar_filtering/src/lidar_filtering/params/lidar_calibration.yaml" />
    <arg name="filter_params_file" default="$(env HOME)/lidar_filtering/src/lidar_filtering/params/filter_params.yaml" />

    <!-- 输入话题 -->
    <arg name="in_main" default="/points_16" />
    <arg name="in_mid" default="/points_mid" />
    <arg name="in_left" default="/scan_left" />
    <arg name="in_right" default="/scan_right" />

    <!-- 输出话题 -->
    <arg name="out_filter_main" default="/points_16_filter" />
    <arg name="out_filter_mid" default="/points_mid_filter" />
    <arg name="out_filter_left" default="/scan_left_filter" />
    <arg name="out_filter_right" default="/scan_right_filter" />
    <arg name="out_left_ang" default="/points_left_ang" />
    <arg name="out_right_ang" default="/points_right_ang" />

    <arg name="out_calib_main" default="/points_16_calibration" />
    <arg name="out_calib_mid" default="/points_mid_calibration" />
    <arg name="out_calib_left" default="/points_left_calibration" />
    <arg name="out_calib_right" default="/points_right_calibration" />

    <node pkg="lidar_filtering" name="multi_points" type="multi_points" output="screen" >
        <param name="parent_frame" value="$(arg parent_frame)" />
        <param name="debug_mode" value="$(arg debug_mode)" />

        <!-- YAML 配置路径 -->
        <param name="vehicle_size_file" value="$(arg vehicle_size_file)" />
        <param name="calibration_file" value="$(arg calibration_file)" />
        <param name="filter_params_file" value="$(arg filter_params_file)" />

        <!-- 话题重映射 -->
        <remap from="/points_16" to="$(arg in_main)" />
        <remap from="/points_mid" to="$(arg in_mid)" />
        <remap from="/scan_left" to="$(arg in_left)" />
        <remap from="/scan_right" to="$(arg in_right)" />

        <remap from="points_16_filter" to="$(arg out_filter_main)" />
        <remap from="points_mid_filter" to="$(arg out_filter_mid)" />
        <remap from="scan_left_filter" to="$(arg out_filter_left)" />
        <remap from="scan_right_filter" to="$(arg out_filter_right)" />
        <remap from="points_left_ang" to="$(arg out_left_ang)" />
        <remap from="points_right_ang" to="$(arg out_right_ang)" />

        <remap from="points_16_calibration" to="$(arg out_calib_main)" />
        <remap from="points_mid_calibration" to="$(arg out_calib_mid)" />
        <remap from="points_left_calibration" to="$(arg out_calib_left)" />
        <remap from="points_right_calibration" to="$(arg out_calib_right)" />
    </node>
</launch>
